.combocontainer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.combo-box {
    background-image: url('../../src/assets/fondocombo7.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(230, 43, 43, 0.048);
    box-shadow: 0px 8px 15px rgba(228, 62, 62, 0.877);  
    border-radius: 2rem;
    padding: 5rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
  }
  
  .combo-box__title {
    font-weight: bolder;
    font-size: 2rem;
  }
  
  .combo-box__price {
    color: rgb(182, 61, 28);
    font-weight:bold;    
    font-size: 1.7rem;
  }

  .combo-box__description {
    font-weight:lighter;    
    font-size: 0.7rem;
  }